body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1252px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2910 {
  position:absolute;
  left:42px;
  top:87px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2911 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:930px;
}
#u2912 {
  position:absolute;
  left:165px;
  top:8px;
  width:1px;
  height:929px;
}
#u2913 {
  position:absolute;
  left:2px;
  top:456px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2914 {
  position:absolute;
  left:183px;
  top:20px;
  width:525px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2915 {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  white-space:nowrap;
}
#u2916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:2px;
}
#u2916 {
  position:absolute;
  left:183px;
  top:54px;
  width:1069px;
  height:1px;
}
#u2917 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1065px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2918 {
  position:absolute;
  left:183px;
  top:152px;
  width:77px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2919 {
  position:absolute;
  left:0px;
  top:5px;
  width:77px;
  word-wrap:break-word;
}
#u2920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2920 {
  position:absolute;
  left:183px;
  top:201px;
  width:77px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2921 {
  position:absolute;
  left:0px;
  top:5px;
  width:77px;
  word-wrap:break-word;
}
#u2922 {
  position:absolute;
  left:260px;
  top:152px;
  width:219px;
  height:30px;
}
#u2922_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u2922_input:disabled {
  color:grayText;
}
#u2923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2923 {
  position:absolute;
  left:183px;
  top:100px;
  width:77px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2924 {
  position:absolute;
  left:0px;
  top:5px;
  width:77px;
  word-wrap:break-word;
}
#u2925 {
  position:absolute;
  left:260px;
  top:100px;
  width:219px;
  height:30px;
}
#u2925_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u2925_input:disabled {
  color:grayText;
}
#u2926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2926 {
  position:absolute;
  left:183px;
  top:383px;
  width:77px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2927 {
  position:absolute;
  left:0px;
  top:5px;
  width:77px;
  word-wrap:break-word;
}
#u2928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:152px;
}
#u2928 {
  position:absolute;
  left:176px;
  top:373px;
  width:485px;
  height:152px;
}
#u2929 {
  position:absolute;
  left:2px;
  top:68px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2928_ann {
  position:absolute;
  left:654px;
  top:369px;
  width:1px;
  height:1px;
}
#u2930 {
  position:absolute;
  left:270px;
  top:391px;
  width:59px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2931 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u2930_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2932 {
  position:absolute;
  left:339px;
  top:391px;
  width:59px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2933 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u2932_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2934 {
  position:absolute;
  left:183px;
  top:432px;
  width:89px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2935 {
  position:absolute;
  left:0px;
  top:5px;
  width:89px;
  word-wrap:break-word;
}
#u2936 {
  position:absolute;
  left:260px;
  top:201px;
  width:515px;
  height:162px;
}
#u2936_input {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:162px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u2937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2937 {
  position:absolute;
  left:785px;
  top:201px;
  width:18px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2938 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u2939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2939 {
  position:absolute;
  left:183px;
  top:588px;
  width:89px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2940 {
  position:absolute;
  left:0px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u2941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2941 {
  position:absolute;
  left:406px;
  top:436px;
  width:15px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2942 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2943 {
  position:absolute;
  left:428px;
  top:432px;
  width:130px;
  height:30px;
}
#u2943_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2944 {
  position:absolute;
  left:271px;
  top:432px;
  width:130px;
  height:30px;
}
#u2944_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
